/*This code is for the whole body*/

* {
    font-family: "Roboto";
    margin: 0px;
}

body, .header, .body, .header .container, ul, .section-1 {
    display: flex;
}

body {
    flex-direction: column;
}

/*Indentation of the content*/
.header .container, .section-1, .section-3, .section-4{
    max-width: 1000px;
}

/*This code is for eveything inside the header*/
.header, .body, .footer{
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}

.header .container{
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    padding-top: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

/*This code containes everything inside section-1*/
.hero-text {
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
}

.section-1 {
    margin: 120px 0px;
    flex: 1;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}

.section-1 div{
    flex: 1; 
    max-width: 90%;
}

.container div, button{
    margin-top: 15px;
}

button {
    padding: 8px 35px;
    border-radius: 10px;
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    border-style: none;
    font-weight: 550;
}

img {
    height: auto;
    width: 100%;
    flex: 1;
}

/*Style for section-2 or information section*/
.section-2, .section-2  .container {
    text-align: center;
    margin: 30px 0px;
}

.header-1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.section-2 .container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info img {
    max-width: 170px;
    max-height: 170px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.info {
    gap: 10px;
    display: flex;
    flex-direction: column;
    max-width: 170px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.section-2 {
    margin-bottom: 120px;
}

/*Style for section-3 or quote section*/
.body-3 {
    background-color: #e5e7e5;
    display: flex;
    justify-content: center;
}

.section-3 {
    margin: 120px 0px;
}

.section-3 .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-left: 120px;
    margin-right: 80px;
}

.section-3 .author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 500;
    margin-right: 110px;
}

/*Style for section-4 or sign up section*/
.sign-up {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px 120px;
    color: #f9f8f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    font-size: 24px;
    font-weight: 500;
    margin: 0xp;
}

.sign-up button {
    border: 2px solid white;
    margin: 0px;
}

.body-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 {
    margin: 90px 0px;
}

.section-4 {
    flex: 1;
}

/*Style for footer*/
.footer {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}