body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/*Universal padding*/
.header, .section-1, .footer{
    padding: 20px 150px;
}

/*Style for header*/
.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-container {
    font-weight: 100;
    font-size: medium;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/*Style for body*/
.body {
    flex: 1;
}

.section-1 {
    background-color: #1F2937;
}