body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Roboto";
}

.header div{
    flex: 1 1 auto;
}

/*Style for header*/
.header {
    display: flex;
}

.header-container{
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
}










/*Style for body*/
.body {
    flex: 1;
}

.section-1 {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

.section-1-header {
    font-weight: 800;
    font-size: 48px;
}

.section-1-container, .image-placeholder {
    flex: 1 1 0;
}

img {
    width: 100%;
    height: auto;
}